<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-searchbar  (ionInput)="Search($event)" ></ion-searchbar>

  <div *ngIf="items">
    <ion-card *ngFor="let item of items" (click)="itemTapped($event,item)">
      <ion-card-content>
        <button *ngIf="!item?.hotItem">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
        </button>
        <button *ngIf="item?.hotItem">
          <ion-icon name="flame"></ion-icon>
          <ion-icon name="flame"></ion-icon>
          <ion-icon name="flame"></ion-icon>
        </button>
        {{item?.name}}
        <p>{{item?.description}}</p>
        <p>{{item?.time}}</p>
        <p>{{item?.date}}</p>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="items?.length < 1">
    <hr>
    <p>
      No results found
    </p>
  </div>
  <button ion-button full color="danger" (click)="removeAll()">
    <ion-icon name="trash"></ion-icon>
    Remove all</button>
</ion-content>


<!-- <ion-content>
    <ion-list>
      <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
        <ion-icon [name]="item.icon" item-start></ion-icon>
        {{item.title}}
        <div class="item-note" item-end>
          {{item.note}}
        </div>
      </button>
    </ion-list>
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title}}</b>
    </div>
  </ion-content> -->
