<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reporting</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <form [formGroup]="form" (ngSubmit)="save()">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea type="text" formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" formControlName="time"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" formControlName="date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Add alert</ion-label>
      <ion-toggle checked="true" formControlName="hotItem"></ion-toggle>
    </ion-item>
    <button ion-button full color="success" type="submit" [disabled]="!form.valid">
      <ion-icon name="create"></ion-icon> Submit </button>

    <!-- <button ion-button large type="submit" [disabled]="!form.valid">Submit</button> -->
  </form>


  <button ion-button round icon-only block (click)="GetGeoLocation()">
    <ion-icon name="locate"></ion-icon> Track location
  </button>

  <button ion-button round icon-only block (click)="takePhoto()">
    <ion-icon name="camera"></ion-icon> Take Picture
  </button>
  <!-- <ion-card *ngIf="currentLocation">
    <ion-card-content>
      Lat:{{currentLocation?.lat}} lng: {{currentLocation?.lon}}
    </ion-card-content>
  </ion-card> -->
  <ion-card *ngIf="currentLocation">
    <ion-card-content>
      <agm-map [latitude]="currentLocation?.lat" [longitude]="currentLocation?.lon">
        <agm-marker [latitude]="currentLocation?.lat" [longitude]="currentLocation?.lon"></agm-marker>
      </agm-map>
    </ion-card-content>
  </ion-card>
  <ion-slides *ngIf="images" style="height: 50vh">
    <ion-slide *ngFor="let image of images">
      <ion-card>
        <img [src]="image.src" />
      </ion-card>
      <!-- {{image.src}} -->
    </ion-slide>
  </ion-slides>
  <!-- {{ form.value | json}} -->
</ion-content>
