<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reporting</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <form [formGroup]="form" (ngSubmit)="save()">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" formControlName="time"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" formControlName="date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Add alert</ion-label>
      <ion-toggle formControlName="hotItem"></ion-toggle>
    </ion-item>
    <button ion-button full color="success" type="submit" [disabled]="!form.valid">
      <ion-icon name="create"></ion-icon>
      Submit </button>

    <!-- <button ion-button large type="submit" [disabled]="!form.valid">Submit</button> -->
  </form>
  <!-- <button ion-button full color="success" (click)="GetGeoLocation()">Get Geolocation </button> -->
  <!-- <div *ngIf="currentLocation">
    Latitude: {{ currentLocation.lat }} Longtitude : {{ currentLocation.lon}}
  </div> -->


  <!-- <button ion-button full color="success" (click)="takePhoto()">Take Picture </button> -->



  <button ion-button round icon-only block (click)="takePhoto()">
    <ion-icon name="camera"></ion-icon>
  </button>
  <ion-slides style="height: 50vh">
    <ion-slide *ngFor="let image of images">
      <ion-card>
        <img [src]="image.src" />
      </ion-card>
      <!-- {{image.src}} -->
    </ion-slide>
  </ion-slides>

</ion-content>
